body {
    background-image: url('/body-background.avif'); 
    background-size: fill;
    background-repeat: no-repeat;
}

.launch-Heading {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    padding: 5px;
    border-radius: 40px;
    text-align: center;
    width: 25%;
    margin: 0 auto;
    margin-top: 2.5px;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.25); 
  }

  .launch-Heading h2 {
    font-size: 20px;
    animation: glow 1.5s ease-in-out infinite alternate; 
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
    }
    to {
      text-shadow: 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000;
    }
  }

  .navbar-brand {
    font-size: 20px;
    position: relative;
    color: transparent;
  }
  
  .navbar-brand::after {
    content: 'JKS-Bikes';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(3px);
  }
  
  .neon {
    fill: none;
    stroke: #00ff00;
    stroke-width: 1.5;
    stroke-linejoin: round;
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: dash 2s linear infinite alternate;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: -150;
    }
  }

  .modal {
    backdrop-filter: blur(2.5px);
  }

  .modal-content {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .modal-header,
  .modal-body {
    padding: 20px;
  }

.footer .text-muted a,
    .footer .text-muted p,
    .footer .text-muted {
        color: white !important;
        font-size: smaller;
  }
  
  
